# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main","dev" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      include:
        - os: macos-latest
          flags: "env GOOS=darwin GOARCH=amd64"
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22.2'

    - name: Test
      run: ${{ matrix.flags }} go test -v ./...

    - name: Build
      run: ${{ matrix.flags }} go build -v ./...

    - name: Golangci-lint
      uses: golangci/golangci-lint-action@v6.1.1
