name: Release

on:
  workflow_run:
    workflows: ["Test"]
    types:
      - completed

permissions:
  contents: write

jobs:          
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' && startsWith(github.event.workflow_run.head_branch, 'v') && github.ref == 'refs/heads/main'}}
    name: Build and Release
    runs-on: ubuntu-latest  

    steps:
      - name: Debug context
        run: |
          echo "CONCLUSION: ${{ github.event.workflow_run.conclusion }}"
          echo "HEAD_BRANCH: ${{ github.event.workflow_run.head_branch }}"
          echo "GITHUB_REF: ${{ github.ref }}"

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.5'

      - name: Build binaries
        run: |
          mkdir -p dist
          GOOS=linux GOARCH=amd64 go build -o dist/MentalPoker-linux-amd64 ./cmd
          GOOS=windows GOARCH=amd64 go build -o dist/MentalPoker-windows-amd64.exe ./cmd
          GOOS=darwin GOARCH=arm64 go build -o dist/MentalPoker-darwin-amd64 ./cmd

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          tag_name: ${{ github.event.workflow_run.head_branch }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  doc:
    
    if: ${{ github.event.workflow_run.conclusion == 'success' && startsWith(github.event.workflow_run.head_branch, 'v') && github.ref == 'refs/heads/main'}}
    runs-on: ubuntu-latest
    name: Deploy documentation
    steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Generate GoDoc
          uses: ktr0731/godoc-action@v0.1.0
          env:
            GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

        - name: Push changes
          uses: ad-m/github-push-action@master
          with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            branch: gh-pages
